




.table {
  width:100%;
  table-layout:fixed;            
  border-collapse:separate;
  border-spacing:0;
  border-radius:8px;
  overflow:hidden;               
  color:#e6e6e6;
  font-family: "Poppins", sans-serif;
}

.row-disabled {
    background-color: #ffecec;
    color: #a94442;
}

.row-enabled:hover {
    background-color: #e8f5e9;
}

  /* ---- ROW-WIDE STATUS COLORS (entire row) ---- */
.row-status-booked {
  background: rgba(33, 150, 243, 0.22) !important;   /* blue */
}
.row-status-available {
  background: rgba(0, 150, 136, 0.20) !important;    /* teal */
}
.row-status-not-available {
  background: rgba(49,53,52,.2)!important;    /* teal */
}

.row-status-booked:hover {
  background: rgba(33, 150, 243, 0.30) !important;
}
.row-status-available:hover {
  background: rgba(0, 150, 136, 0.28) !important;
}

.row-status-not-available:hover {
  background: rgba(49,53,52,1.1) !important;
}


