<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainers</title>
    <link rel="stylesheet" href="/static/css/timelines.css">
    
</head>

<body>
    {% include 'base_up_menu.html' %}

    <div class="mt-3">
        <strong>{{day}} - {{month}} - {{year}}</strong>
        <span id="display-date"></span>
    </div>

    <div class="timeline-vertical">
    <div class="timeline-track">
        {% for hour in range(6, 25) %}
        <div class="time-label" style="top: calc({{ hour * 100/ 18 }}%)">
            {{ "%02d:00" % hour }}
        </div>
        {% endfor %}

        {% for event in events %}
        {% set s = event.start.split(':') %}
        {% set e = event.end.split(':') %}
        {% set start_min = (s[0]|int) * 60 + (s[1]|int) %}
        {% set end_min = (e[0]|int) * 60 + (e[1]|int) %}
        {% set duration = end_min - start_min %}
        {% set top = (start_min / 1440 * 100) %}
        {% set height = (duration / 1440 * 100) %}
        <div class="event-block" style="top: {{ top }}%; height: {{ height }}%">
            <strong>{{ event.title }}</strong><br>
            <small>{{ event.start }} – {{ event.end }}</small>
            <div class="desc">{{ event.description }}</div>
        </div>
        {% endfor %}
    </div>
    </div>

</body>


</html>