{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% block content %}
<br>
<div class="schedule-header">
  <div>Trainer</div>
  <div>User</div>
  <div>Time</div>
  <div>Action</div>
</div>

<ul class="timeline">
{% for schedule_tr, delta in schedule_data %}
    <li class="event"
        data-date="{{ schedule_tr.datetime_start.strftime('%H:%M') }} – {{ schedule_tr.datetime_end.strftime('%H:%M') }}"
        style="--event-h: {{ 70 + 430.0 * delta / 1440.0 }}px;"
        >
      <div class="member-infos">
        <table class="table schedule-table" style="height: var(--event-h);">
          <colgroup>
            <col class="col-static">
            <col class="col-static">
            <col class="col-static">
            <col class="col-static">
          </colgroup>
          <tbody>
            <tr class="{% if schedule_tr.trainer and schedule_tr.user %}working
                        {% elif schedule_tr.trainer %}available-work
                        {% else %}not-available-work{% endif %}">
              <td title="{{ schedule_tr.trainer.name_first if schedule_tr.trainer else '' }}">
                {{ schedule_tr.trainer.name_first if schedule_tr.trainer else '' }}
              </td>

              <td title="{{ schedule_tr.user.name_first if schedule_tr.user else '' }}">
                {{ schedule_tr.user.name_first if schedule_tr.user else '' }}
              </td>

              <td>
                {{ delta }} min
              </td>

              <td data-label="Actions" class="actions-cell">
                <div class="btn actions-buttons">
                  {% if not schedule_tr.trainer and not schedule_tr.user %}
                    <button type="button"
                            class="btn btn-booking-available"
                            data-action="enable"
                            {% if schedule_tr.id %}data-id="{{ schedule_tr.id }}"{% endif %}>
                      Enable Booking
                    </button>
                  {% endif %}

                  {% if schedule_tr.trainer and not schedule_tr.user %}
                    <button type="button"
                            class="btn btn-booking-unavailable"
                            data-action="disable"
                            {% if schedule_tr.id %}data-id="{{ schedule_tr.id }}"{% endif %}>
                      Disable Booking
                    </button>
                  {% endif %}

                  {% if schedule_tr.user %}
                    <button type="button"
                            class="btn btn-booking-cancel"
                            data-action="cancel"
                            {% if schedule_tr.id %}data-id="{{ schedule_tr.id }}"{% endif %}>
                      Cancel Booking
                    </button>
                  {% endif %}
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
